{% extends 'AdminBase.html' %}
{% load static %}
{#{% block title %}管理员界面{% endblock %}#}
{% block content %}

        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
{#        <link rel="stylesheet" href="{% static 'css/AdminMenu.css' %}">#}
        <script src="{% static 'popper/popper.js' %}">    </script>
        <script src="{% static 'jquery/jquery-3.4.1.js' %}">    </script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}">    </script>

{% if pd != 0 %}

<div class="alert alert-success">
  关键字： <strong style="color: #c82333;">{{ soso }}</strong> 共搜索到： {{Tourism_admin_page.count}}条。
</div>
    {% endif %}


<div class="container-fluid">
  {% if request.session.is_Adminlogin %}
  <form class="form-inline" action="/Tourism_soso/1" method="post" style="float:right;margin-bottom: 10px;margin-left: 20px">
       {% csrf_token %}

    <input class="form-control" type="text" placeholder="请输入旅游景点名字" name="Tourism_soso">
    <button class="btn btn-success" type="submit" style="margin-top: -2px;">搜索</button>
  </form>
    <button type="button" class="btn btn-warning ml-auto" onclick="window.location.href = '/Tourism_Add/'" style="float:right;margin-bottom: 10px;">新增旅游景点</button>
      <table class="table table-dark table-hover" >
    <thead>
      <tr style="text-align: center; background-color: #1c7430">
          <th>序号</th>
            <th>名字</th>
        <th>城市</th>
          <th>简单介绍</th>
        <th>价格</th>
          <th>人数</th>
          <th>热度</th>
          <th>操作</th>
      </tr>
    </thead>
    <tbody>
{% for foo in Tourism_admin_page %}
      <tr style="text-align: center">
      <td>{{ foo.id }}</td>
        <td>{{ foo.Tourism_name }}</td>
        <td>{{ foo.Tourism_city }}</td>
        <td>{{ foo.phone }}</td>
        <td>{{ foo.Tourism_Price }}</td>
        <td>{{ foo.Tourism_Number }}</td>
        <td>{{ foo.total_views }}</td>
          <td>
                      <button type="button" id="btn" class="btn btn-danger" onclick="if(confirm('确定要删除吗？') ==false) return false;location.href='/Tourism_del/{{ foo.id }}?page={{ Tourism_admin_page.number }}'"   >删除</button>
                      <button type="button" class="btn btn-primary" onclick="window.location.href = '/Tourism_update/{{ foo.id }}'">修改</button>




          </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
      {% if pd == 0 %}
      <ul class="pagination justify-content-center fixed-bottom"  style="margin-bottom: 100px;" id="page" >

      {# 判断是否有上一页，是的话现实上一页，没有的话 直接现实首页 #}
    {% if Tourism_admin_page.has_previous %}

        <li class="page-item"><a class="page-link" href="./1">首页</a></li>
        {%  if Tourism_admin_page.number == 2  %}
                <li class="page-item"><a class="page-link" href="./{{ qian }}">{{ qian }}</a></li>
        {% else %}

                   <li class="page-item"><a class="page-link" href="./{{ qian2 }}">{{ qian2 }}</a></li>
        <li class="page-item"><a class="page-link" href="./{{ qian }}">{{ qian }}</a></li>

    {% endif %}

    {% endif %}
      {# 结束 #}


        <li class="page-item active"><a class="page-link" href="./{{Tourism_admin_page.number}}">{{Tourism_admin_page.number}}</a></li>


        {% if Tourism_admin_page.has_next %}
            {% if Tourism_admin_page.number == hou %}

   {% else %}
   <li class="page-item"><a class="page-link" href="./{{hou}}">{{ hou }}</a></li>
                         {% endif %}
        <li class="page-item"><a class="page-link" href="./{{Tourism_admin_page.paginator.num_pages  }}">尾页</a></li>


                    {% endif %}

   <li class="page-item"><a class="page-link">共{{ Tourism_admin_page.paginator.num_pages }}页</a></li>

  </ul>
          {% else %}
          <p style="margin-top: 100px;"></p>
          {% endif %}

{% endif %}
    <script>

document.getElementById('btn').onclick = function () {
if (confirm('您确认要删除吗？')) {
alert('删除成功！');
} else {
alert('取消删除！');
}
};

		</script>


</div>


{% endblock %}