{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
    <form action="/AddMoney/" method="post" enctype="multipart/form-data" >
    {% csrf_token %}

                        <div class="row" >

                    <input type="text"  style=" font-size: 14px;margin-right: 90px;" class="form-control" placeholder="{{ newmoney }}" name="money" >

                    </div>  <button class="btn btn-info" type="submit" style="float:right;margin-top: -38px;">充值</button>



    </form>
    </div>
{% endblock %}