{% extends 'AdminBase.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/Tourism_From.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script>
    function loadFile(file){
        $("#filePos").html(file.name);
    }
</script>
    <div class="container">
<button type="button" class="btn btn-primary" onclick="window.location.href = '/Admin_Tourism/1'"><strong>返回</strong></button>

                        <h2 style="text-align: center;color: #28a745">添加旅游景点</h2>

<button type="button" class="btn btn-default btn-lg">
	<span class="glyphicon glyphicon-user"></span>
</button>

            <form method="post" action="/Tourism_Add/" enctype="multipart/form-data" >
                    {% if message %}


              <div class="alert alert-info alert-dismissible">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>信息!</strong>        {{ message }}
  </div>
                    {% endif %}
                {% csrf_token %}


{#<div style="padding: 100px 100px 10px;">#}



<div class="form-group">
    <input type="file" name="picture" id="file" style="width: 0;height: 0;" onchange="loadFile(this.files[0])"><br>
<!--默认的HTML文件上传控件，onchange属性调用JavaScript读取上传的文件名，修改第二个标签的显示内容，同时设置该上传控件长宽为0不显示，不占用页面控件，或者设置hidden，但是会占用一点空间-->
    <label class="btn btn-info" for="file">上传旅游图片文件</label>
<!--利用标签的for属性实现点击标签触发文件上传，同时设计成按钮样式-->
    <label id="filePos">未上传</label><!--定义一个显示文件名的标签-->
</div>
	                    <div class="input-group input-group-lg" style="margin-top: 18px;">
	            <span class="input-group-addon">旅游名称</span>
	            <input type="text" class="form-control" name="Tourism_name" placeholder="{{TourismFron.Tourism_name}}" style="width: 1000px; height: 60px;">
	        </div>

            	        <div class="input-group input-group-lg" style="margin-top: 18px;">
	            <span class="input-group-addon">旅游地址</span>
	            <input type="text" class="form-control" name="Tourism_city" placeholder="{{TourismFron.Tourism_city}}" style="width: 1000px; height: 60px;">
	        </div>
            	        <div class="input-group input-group-lg" style="margin-top: 18px;">
	            <span class="input-group-addon">旅游价格</span>
	            <input type="text" class="form-control" name="Tourism_Price" placeholder="{{TourismFron.Tourism_Price}}" style="width: 1000px;height: 60px;">
	        </div>
            	        <div class="input-group input-group-lg" style="margin-top: 18px;">
	            <span class="input-group-addon">旅游人数</span>
	            <input type="text" class="form-control" name="Tourism_Number" placeholder="{{TourismFron.Tourism_Number}}" style="width: 1000px;height: 60px;">
	        </div>
            	        <div class="input-group input-group-lg" style="margin-top: 18px;">
	            <span class="input-group-addon">旅游电话</span>
	            <input type="text" class="form-control" name="phone" placeholder="{{TourismFron.phone}}" style="width: 1000px;height: 60px;">
	        </div>
                        <div class="input-group input-group-lg" style="margin-top: 18px;">
	            <span class="input-group-addon">撰写推文</span>
	            <input type="text" class="form-control" name="Tourism_TuiWen" placeholder="{{TourismFron.Tourism_TuiWen}}" style="width: 1000px; height: 60px;">
	        </div>
                        <div class="input-group input-group-lg" style="margin-top: 18px;">
	            <span class="input-group-addon">旅游地区</span>
	            <input type="text" class="form-control" name="Tourism_by_Region_id" placeholder="{{TourismFron.Tourism_by_Region_id}}" style="width: 1000px; height: 60px;">
	        </div>


                    <div class="button" style="margin-top: 20px;">
                    <button type="submit" class="btn btn-primary" style="width: 300px;height: 60px;background-color: #c82333; float: left;">确认</button>
                    <button type="reset"  class="btn btn-primary" style="width: 300px;height: 60px;background-color: #28a745; float: right;">重置</button>

                    </div>
            </form>
    </div>


{% endblock %}