.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}
.button{
    text-align: center;
}
.btn:hover{
    background-color: red;
}
.form-control{
    padding-left:50px;
}
span{

}